<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="UTF-8">
	<title>欢迎用户注册</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">		
		<h2>用户注册</h2>
		<form action="index.php?control=user&action=register" method="post">
			<div class="form-group">
				<h3>姓名</h3>
				<input type="text" class="form-control" name="user_name">
				<h3>密码</h3>
				<input type="text" class="form-control" name="user_pwd">
			</div>
			<div class="form-group">
				<input type="submit" value="注册" class="btn btn-primary">
			</div>
		</form>
		</div>
	</div>
</body>
</html>